<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Covid-19 in a Nutshell</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
 </head>
 <body>
    <header>
    </header>
    <div class="main-div">
        <div class="div-col">
            <img class="main-logo" src="/static/logo.jpeg">
        </div>
        <div class="div-col">
            <h1>Covid-19 in a Nutshell</h1>
            <a href="{{ url_for('index_func') }}">
            <button class="btn btn-primary btn-lg">Cases</button>
            </a>
            <a href="{{ url_for('env_func') }}">
            <button class="btn btn-primary btn-lg">Environmental Impact</button>
            </a>
            <a href="{{ url_for('impact_func') }}">
            <button class="btn btn-primary btn-lg">Social Impact</button>
            </a>
        </div>
    </div>
 </body>
</html>